
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		
		<!-- Header -->
      	<!-- //Header -->
		<!-- Start Search Popup -->
		<div class="box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here...">
					<div class="action">
						<a href="#"><i class="fa fa-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Events</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="index.html">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Events</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
		<!-- Start Portfolio Area -->
		<section class="wn__portfolio__area gallery__masonry__activation bg--white mt--40 pb--100">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="gallery__menu">
                            <button data-filter="*" class="is-checked">Filter - All</button>
                            <button data-filter=".cat--1">
                                Story Telling
                            </button>
                            <button data-filter=".cat--2">Upcoming Events</button>
                            <button data-filter=".cat--3">Host AN Event</button>
                            <button data-filter=".cat--4">Contests</button>
                      	</div>
					</div>
				</div>
				<div class="row masonry__wrap">
					<!-- Start Single Portfolio -->
					<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 gallery__item cat--1">
						<div class="portfolio">
							<div class="thumb">
								<a href="#">
									<img src="./assets/images/portfolio/md-img/1.jpg" alt="portfolio images">
								</a>
								<div class="search">
									<a href="./assets/images/portfolio/md-img/1.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a>
								</div>
								<div class="link">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="content">
								<h6><a href="#">Coffee & Cookie Time</a></h6>
								<p>road theme</p>
							</div>
						</div>
					</div>
					<!-- End Single Portfolio -->
					<!-- Start Single Portfolio -->
					<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 gallery__item cat--2">
						<div class="portfolio">
							<div class="thumb">
								<a href="#">
									<img src="./assets/images/portfolio/md-img/2.jpg" alt="portfolio images">
								</a>
								<div class="search">
									<a href="./assets/images/portfolio/md-img/2.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a>
								</div>
								<div class="link">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="content">
								<h6><a href="#">Coffee & Cookie Time</a></h6>
								<p>road theme</p>
							</div>
						</div>
					</div>
					<!-- End Single Portfolio -->
					<!-- Start Single Portfolio -->
					<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 gallery__item cat--3">
						<div class="portfolio">
							<div class="thumb">
								<a href="#">
									<img src="./assets/images/portfolio/md-img/3.jpg" alt="portfolio images">
								</a>
								<div class="search">
									<a href="./assets/images/portfolio/md-img/3.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a>
								</div>
								<div class="link">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="content">
								<h6><a href="#">Coffee & Cookie Time</a></h6>
								<p>road theme</p>
							</div>
						</div>
					</div>
					<!-- End Single Portfolio -->
					<!-- Start Single Portfolio -->
					<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 gallery__item cat--4">
						<div class="portfolio">
							<div class="thumb">
								<a href="#">
									<img src="./assets/images/portfolio/md-img/4.jpg" alt="portfolio images">
								</a>
								<div class="search">
									<a href="./assets/images/portfolio/md-img/4.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a>
								</div>
								<div class="link">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="content">
								<h6><a href="#">Coffee & Cookie Time</a></h6>
								<p>road theme</p>
							</div>
						</div>
					</div>
					<!-- End Single Portfolio -->
					<!-- Start Single Portfolio -->
					<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 gallery__item cat--5">
						<div class="portfolio">
							<div class="thumb">
								<a href="#">
									<img src="./assets/images/portfolio/md-img/5.jpg" alt="portfolio images">
								</a>
								<div class="search">
									<a href="./assets/images/portfolio/md-img/5.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a>
								</div>
								<div class="link">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="content">
								<h6><a href="#">Coffee & Cookie Time</a></h6>
								<p>road theme</p>
							</div>
						</div>
					</div>
					<!-- End Single Portfolio -->
					<!-- Start Single Portfolio -->
					<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 gallery__item cat--2">
						<div class="portfolio">
							<div class="thumb">
								<a href="#">
									<img src="./assets/images/portfolio/md-img/6.jpg" alt="portfolio images">
								</a>
								<div class="search">
									<a href="./assets/images/portfolio/md-img/6.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a>
								</div>
								<div class="link">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="content">
								<h6><a href="#">Coffee & Cookie Time</a></h6>
								<p>road theme</p>
							</div>
						</div>
					</div>
					<!-- End Single Portfolio -->
					<!-- Start Single Portfolio -->
					<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 gallery__item cat--3">
						<div class="portfolio">
							<div class="thumb">
								<a href="#">
									<img src="./assets/images/portfolio/md-img/7.jpg" alt="portfolio images">
								</a>
								<div class="search">
									<a href="./assets/images/portfolio/md-img/7.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a>
								</div>
								<div class="link">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="content">
								<h6><a href="#">Coffee & Cookie Time</a></h6>
								<p>road theme</p>
							</div>
						</div>
					</div>
					<!-- End Single Portfolio -->
					<!-- Start Single Portfolio -->
					<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 gallery__item cat--4">
						<div class="portfolio">
							<div class="thumb">
								<a href="#">
									<img src="./assets/images/portfolio/md-img/8.jpg" alt="portfolio images">
								</a>
								<div class="search">
									<a href="./assets/images/portfolio/md-img/8.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a>
								</div>
								<div class="link">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="content">
								<h6><a href="#">Coffee & Cookie Time</a></h6>
								<p>road theme</p>
							</div>
						</div>
					</div>
					<!-- End Single Portfolio -->
					<!-- Start Single Portfolio -->
					<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 gallery__item cat--5">
						<div class="portfolio">
							<div class="thumb">
								<a href="#">
									<img src="./assets/images/portfolio/md-img/9.jpg" alt="portfolio images">
								</a>
								<div class="search">
									<a href="./assets/images/portfolio/md-img/9.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a>
								</div>
								<div class="link">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="content">
								<h6><a href="#">Coffee & Cookie Time</a></h6>
								<p>road theme</p>
							</div>
						</div>
					</div>
					<!-- End Single Portfolio -->
					<!-- Start Single Portfolio -->
					<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 gallery__item cat--2">
						<div class="portfolio">
							<div class="thumb">
								<a href="#">
									<img src="./assets/images/portfolio/md-img/10.jpg" alt="portfolio images">
								</a>
								<div class="search">
									<a href="./assets/images/portfolio/md-img/10.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a>
								</div>
								<div class="link">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="content">
								<h6><a href="#">Coffee & Cookie Time</a></h6>
								<p>road theme</p>
							</div>
						</div>
					</div>
					<!-- End Single Portfolio -->
					<!-- Start Single Portfolio -->
					<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 gallery__item cat--3">
						<div class="portfolio">
							<div class="thumb">
								<a href="#">
									<img src="./assets/images/portfolio/md-img/5.jpg" alt="portfolio images">
								</a>
								<div class="search">
									<a href="./assets/images/portfolio/md-img/5.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a>
								</div>
								<div class="link">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="content">
								<h6><a href="#">Coffee & Cookie Time</a></h6>
								<p>road theme</p>
							</div>
						</div>
					</div>
					<!-- End Single Portfolio -->
					<!-- Start Single Portfolio -->
					<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 gallery__item cat--4">
						<div class="portfolio">
							<div class="thumb">
								<a href="#">
									<img src="./assets/images/portfolio/md-img/7.jpg" alt="portfolio images">
								</a>
								<div class="search">
									<a href="./assets/images/portfolio/md-img/7.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a>
								</div>
								<div class="link">
									<a href="#"><i class="fa fa-link"></i></a>
								</div>
							</div>
							<div class="content">
								<h6><a href="#">Coffee & Cookie Time</a></h6>
								<p>road theme</p>
							</div>
						</div>
					</div>
					<!-- End Single Portfolio -->
				</div>
			</div>
		</section>
		<!-- End Portfolio Area -->
		
		<!-- //Footer Area -->

	</div>
	<!-- //Main wrapper -->
