<!-- <aside class="wedget__categories poroduct--tag">
    <h3 class="wedget__title">Product Tags</h3>
    <ul>
        <li><a href="#">Business</a></li>
        <li><a href="#">Cookbooks</a></li>
        <li><a href="#">Health & Fitness</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Inspiration</a></li>
        <li><a href="#">Toys</a></li>

    </ul>
</aside> -->



<aside class="wedget__categories poroduct--tag">
    <h3 class="wedget__title">Product Tags</h3>
    <ul>
        <li *ngFor="let tag of tags">
          <a [routerLink]="['../', tag.link]">{{tag.name}}</a>
        </li>
    </ul>
</aside>
