<section *ngIf="dynCategory" >
  <aside class="wedget__categories poroduct--cat">
    <h3 class="wedget__title">{{dynCategory.title}}</h3>
    <ul>
        <li *ngFor="let menus of dynCategory.menu">
          <a routerLink="/{{menus.menuLink}}"
          routerLinkActive="router-link-active"
          [href]="menus.menuLink">
          {{menus.menuName}}
          <!-- <span>({{menus.menuLink}})</span> -->
        </a></li>
        <!-- <li><a href="#">Children Books <span>(4)</span></a></li>
        <li><a href="#">New Books <span>(6)</span></a></li>
        <li><a href="#">Used Books <span>(7)</span></a></li>
        <li><a href="#">Toys <span>(8)</span></a></li>
        <li><a href="#">Montessori <span>(9)</span></a></li>
        <li><a href="#">Board Games <span>(10)</span></a></li> -->
    </ul>
  </aside>
</section>

